.root {
    -fx-padding: 2;
    -fx-border-style: solid inside;
    -fx-border-width: 5;
    -fx-border-insets: 0;
    -fx-border-radius: 0;
    -fx-border-color: #a5a5a5;
    -fx-background-color: #ffffff;
}

.menu-bar {
    -fx-background-color: linear-gradient(#ffffff, #c2c0c0);
}

.menu, .menu .label, .context-menu {
    -fx-text-fill: #000000;
    -fx-background-color: linear-gradient(#ffffff, #c2c0c0);
}

.label {
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
    -fx-background-color: #ffffff;
}

.text-field {
    -fx-font-weight: bold;
    -fx-background-color: #eeeeee;
    -fx-text-fill: #000000;
}

.text-area, .text-area .content {
    -fx-background-color: #eeeeee;
    -fx-text-fill: rgb(0, 0, 0);
}

.choice-box, .choice-box .label {
    -fx-background-color: linear-gradient(#ffffff, #c2c0c0);
    -fx-text-fill: rgb(0, 0, 0);
    -fx-font-size: 12px;
}

.button {
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#ffffff, #c2c0c0);
    -fx-text-fill: #000000;
}

.list-view .list-cell, .list-view .scroll-bar {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
}

.list-view, .list-view .list-cell:filled:selected:focused, .list-view .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#c2c0c0 0%, 
    #979696 25%, #3d3d3d 75%, #000000 100%);
    -fx-text-fill: #ffffff;
}

.list-view .list-cell:even {
    -fx-background-color: #e2e2e2;
}

.list-view .list-cell:filled:hover {
    -fx-background-color: #979595;
    -fx-text-fill: #000000;
}
